body {
    background-color:black;
    color:white;
}
h1 {
    color:red;
}
video {
    width:320px;
    height:240px;
    margin:0 auto;
    display:block;
}
body {
    background-color: black;
}
h1 {
    color: red;
}
.center-text {
    text-align: center;
}